@import "tailwindcss";

:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  @apply border-black border
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  @apply text-4xl md:text-7xl
}

h2 {
  @apply text-xl md:text-3xl
}

ul {
  @apply text-xl md:text-4xl
}

button {
  @apply rounded-lg border border-transparent cursor-pointer bg-[#1a1a1a] text-[#f9f9f9] cursor-pointer transition-colors duration-200;
}

button:hover {
  @apply border-white;
}

.link {
  @apply rounded-lg border border-transparent px-5 py-2 md:px-10 md:py-5 md:text-[2em] bg-[#1a1a1a] text-[#f9f9f9] cursor-pointer transition-colors duration-200;
}

.link:hover {
  @apply border-white;
}

.card {
  @apply flex flex-col w-full h-auto md:flex-row cursor-pointer items-center mt-10 text-black bg-indigo-100 rounded-xl hover:shadow-md transition p-6 mb-6 
}

.back {
  @apply text-xl py-1 px-2
}

.menu {
  @apply text-2xl px-5 py-1 bg-indigo-100 text-black
}

.page {
  @apply flex flex-col w-full mt-35 pt-7 md:pt-15 px-6 md:px-40 pb-30 overflow-y-auto bg-indigo-100 rounded-xl text-black
}

.header {
  @apply flex fixed flex-row justify-between w-full h-32 pt-10 items-baseline backdrop-blur-3xl z-50
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #E6F4FD;
    
  }
  button {
    background-color: #ffffff;
    color:#000342;
  }
  button:hover {
    border-color: #000000;
  }
  .link {
    background-color: #ffffff;
    color:#000342;
  }
  .link:hover {
    border-color: #000000;
  }
  .card {
    @apply flex flex-col sm:flex-row mt-10 bg-[#ffffff] text-black rounded-xl hover:shadow-md transition p-6 mb-6 border border-blue-900
  }
  .page {
    @apply bg-[#D7EEFE] text-black
  }
  .menu {
    @apply bg-white text-black
  }
}
